
<!--
.bluelink {  font-family: Verdana, Tahoma, Helvetica; font-size: 11px; line-height: 17px; font-weight: bold; color: #0066CC}
.greenlink { font-family: Verdana, Tahoma, Helvetica; font-size: 11px; line-height: 17px; font-weight: bold; color: #009900}
.purplelink { font-family: Verdana, Tahoma, Helvetica; font-size: 11px; line-height: 17px; font-weight: bold; color: #9336AE}
.redlink { font-family: Verdana, Tahoma, Helvetica; font-size: 11px; line-height: 17px; font-weight: bold; color: #CC0051}
.bluetitle { font-family: Verdana, Tahoma, Helvetica; font-size: 12px; line-height: 16px; font-weight: bold; color: #0066CC }
.standard { font-family: Verdana, Tahoma, Helvetica; font-size: 10px; line-height: 17px}
.small { font-family: Verdana, Tahoma, Helvetica; font-size: 9px; line-height: 11px}
.greentitle { font-family: Verdana, Tahoma, Helvetica; font-size: 12px; line-height: 16px; font-weight: bold; color: #009900}
.purpletitle { font-family: Verdana, Tahoma, Helvetica; font-size: 12px; line-height: 16px; font-weight: bold; color: #9336AE}
.redtitle { font-family: Verdana, Tahoma, Helvetica; font-size: 12px; line-height: 16px; font-weight: bold; color: #CC0051}
.roomnav { font-family: Verdana, Tahoma, Helvetica; font-size: 10px; line-height: 20px ; font-weight: bold}
body {  font-family: Verdana, Tahoma, Helvetica; font-size: 10pt; line-height: 17pt}
-->
